/*Home Page*/
body {
  color: white;
  text-align: center;
  align-content: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: black;
  background-image: url(terrorpics/road.jpg);
  background-position: fixed !important;
  background-repeat: no-repeat;
  background-size: cover;
  height: 110%;
  margin: auto;
  width: 70%;
  text-decoration: none;
}

.sitetitle {
  font-size: 150%;
}

/*Navbar*/
ul {
  list-style-type: none;
  display: inline-block;
  margin: auto;
  padding: 0;
  overflow: hidden;
  border: solid 20px #6b1010;
  border-radius: 28px;
  opacity: 0.75;
}

li {
  float: left;
  display: inline;
}

li a {
  flex: content;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  fit: auto;
}

/*Button*/
.button {
  contain: content;
  height: auto;
  width: 220px;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  background-color: #6b1010;
  opacity: 0.75;
  border: 0;
  outline: none;
  cursor: pointer;
  display: inline-block;
  border-radius: 30px;
  align-items: center;
  text-align: center;
}

.blurbtitle {
  display: flex;
  justify-content: center;
  font-size: 25px;
  align-items: center;
  text-align: center;
}

.indexblurb {
  display: flex;
  padding: 0%;
  border-radius: 10px;
  contain: content;
  justify-content: center;
  font-size: 18px;
  text-align: left;
  line-height: 25px;
  width: 60%;
  margin: auto;
}

footer {
  margin: auto;
  padding: 20px;
  font-size: smaller;
  text-justify: auto;
  display: flex;
  justify-content: center;
  padding: 18px;
}

:visited {
  text-decoration: none;
  color: white;
}

@media (max-width: 700px) {
  .sitetitle,
  .navbar,
  .blurbtitle,
  .button {
    font-size: smaller;
  }
}

@media (max-width: 620px) {
  .navbar {
    font-size: x-small;
  }
}

@media (max-width: 530px) {
  .navbar {
    font-size: xx-small;
  }
}

@media (max-width: 500px) {
  .navbar {
    font-size: 5px;
  }
}

@media (max-width: 380px) {
  .navbar {
    font-size: 3px;
  }
  .indexblurb {
    font-size: 12px;
  }
}
